@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
}

/* sticky navbar css */
header {
  position: sticky;
  top: 0;
  background-color: #fff;
}
/* sticky navbar css */

.top-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.top-navbar h4 {
  color: #161616;
  font-size: 18px;
}

.main-logo a {
  text-decoration: none;
}

.top-navbar h2 {
  color: #d30000;
  font-size: 30px;
}

.top-navbar .heading-fisrt {
  color: #161616;
}

.top-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 35px;
}

.top-nav-list li {
  list-style: none;
}

.top-nav-list li a {
  text-decoration: none;
  color: #d30000;
  font-size: 15px;
}

.top-nav-list li a:hover {
  text-decoration: underline;
}

.top-nav-icons img {
  width: 25px;
  margin-right: 10px;
}

.top-nav-search-bar {
  background-color: white;
  border-radius: 5px;
  padding: 8px;
  border: solid 1px #696969;
  margin-top: 8px;
  position: relative;
}

.top-nav-search-bar input {
  width: 250px;
  border: none;
  outline: none;
}

.top-nav-search-bar img {
  width: 17px;
  position: absolute;
  right: 5px;
  top: 12px;
  cursor: pointer;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
  background-color: #161616;
}

.nav-list li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 14px 15px;
  transition: background-color 0.3s ease;
}

.nav-list li a:hover {
  background-color: #313131;
}

.search-and-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-and-bar .menu-bar-icon {
  width: 22px;
  display: none;
}

/* navbar styling end */

/* hero section started form here */

.hero-section {
  background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 10)
    ),
    url("https://img.freepik.com/free-vector/futuristic-earth-digital-background-with-particle-effect_1017-33690.jpg?t=st=1723615537~exp=1723619137~hmac=ba62913052674573738b734dc85e6b7a56f38af24c8cd712354c33ebb385a1eb&w=900");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 465px;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: white;
  max-width: 800px;
}

.hero-content h1 {
  font-size: 50px;
  line-height: 55px;
}

.hero-content button {
  margin-top: 20px;
  color: white;
  background-color: #d30000;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-content button:hover {
  background-color: #bd0101;
  transform: scale(1.05);
}

/* hero section end here */

.about-content-cards {
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.about-content {
  width: 400px;
  height: auto;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 14px;
  cursor: pointer;
  transition: transform 0.8 ease-in-out;
}

.about-content:hover {
  transform: scale(1.02);
}

.about-content h1 {
  color: #272727;
}
.about-content p {
  color: #3b3b3b;
}
/* footer has been started from here  */

.footer-section {
  padding: 40px 20px;
  margin-top: 80px;
  background-color: #181717;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-nav-links {
  flex: 1;
  min-width: 220px;
  margin: 0 30px;
}

.footer-nav-links h3 {
  color: #ebebeb;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-nav-links ul {
  padding: 0;
  margin: 0;
  color: #dddddd;
}

.footer-nav-links ul li a {
  text-decoration: none;
  color: #dddddd;
  font-weight: 300;
}

.footer-nav-links ul li a:hover {
  color: #e60505;
}

.footer-follow-us-Container {
  margin-top: 25px;
}

.footer-nav-links ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 15px;
}

.footer-nav-links input {
  width: 90%;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #222;
  color: white;
}

.footer-nav-links button {
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  background-color: #bd0101;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
}

.footer-nav-links button:hover {
  background-color: #d30000;
  transform: scale(1.05);
}

.footer-copyright-section {
  padding: 20px 0px;
  text-align: center;
  background-color: #0e0d0d;
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 400;
}

/* footer has been Ended here  */

/* Mobile Device */

@media screen and (max-width: 500px) {
  .top-navbar {
    flex-direction: column;
  }

  .top-navbar h4 {
    font-size: 16px;
  }

  .top-navbar h2 {
    font-size: 24px;
  }

  .top-nav-search-bar input {
    width: 330px;
  }
  .top-navbar {
    flex-direction: column;
  }

  .top-nav-icons img {
    display: none;
  }

  .top-nav-list {
    margin: 8px auto;
  }

  .top-nav-search-bar input {
    width: 280px;
  }

  .nav-list {
    display: none;
  }
  .search-and-bar {
    gap: 20px;
    margin-top: 14px;
  }
  .search-and-bar .menu-bar-icon {
    display: block;
    cursor: pointer;
  }

  .top-nav-search-bar {
    padding: 4px 10px;
    margin-top: 0px;
  }

  .top-nav-search-bar img {
    width: 8x;
    top: 8px;
  }

  .hero-content h1 {
    font-size: 30px;
    line-height: 35px;
  }

  .about-content {
    width: 300px;
  }

  .about-content h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .about-content p {
    font-size: 14px;
  }
  .footer-nav-links {
    margin-bottom: 20px;
  }

  .footer-nav-links a {
    font-size: 14px;
  }

  .footer-nav-links ul li {
    font-size: 14px;
  }
}
/* Tablet Device */

@media screen and (min-width: 500px) and (max-width: 768px) {
  .top-navbar {
    flex-direction: column;
  }

  .top-nav-icons img {
    display: none;
  }

  .top-nav-list {
    margin: 8px auto;
  }
  .top-nav-search-bar input {
    width: 400px;
  }

  .top-navbar h4 {
    font-size: 18px;
  }

  .top-navbar h2 {
    font-size: 28px;
  }
  .nav-list {
    gap: 2px;
    padding: 5px 0;
  }

  .nav-list li a {
    padding: 8px 5px;
    font-size: 14px;
  }

  .about-content {
    width: 300px;
  }

  .about-content h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .about-content p {
    font-size: 14px;
  }

  .footer-nav-links {
    margin-bottom: 20px;
  }

  .footer-nav-links a {
    font-size: 14px;
  }

  .footer-nav-links ul li {
    font-size: 14px;
  }
}
