mport url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: "Poppins", sans-serif;
}

.top-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.top-navbar h4 {
    color: #161616;
    font-size: 18px;
}

.top-navbar h2 {
    color: #d30000;
    font-size: 30px;
}

.top-navbar .heading-fisrt {
    color: #161616;
}

.top-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 35px;
}

.top-nav-list li {
    list-style: none;
}

.top-nav-list li a {
    text-decoration: none;
    color: #d30000;
    font-size: 15px;
}

.top-nav-list li a:hover {
    text-decoration: underline;
}

.top-nav-icons img {
    width: 25px;
    margin-right: 10px;
}

.top-nav-search-bar {
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    border: solid 1px #696969;
    margin-top: 8px;
    position: relative;
}

.top-nav-search-bar input {
    width: 250px;
    border: none;
    outline: none;
}

.top-nav-search-bar img {
    width: 17px;
    position: absolute;
    right: 5px;
    top: 12px;
    cursor: pointer;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
    background-color: #161616;
}

.nav-list li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 14px 15px;
    transition: background-color 0.3s ease;
}

.nav-list li a:hover {
    background-color: #313131;
}

.search-and-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-and-bar .menu-bar-icon {
    width: 22px;
    display: none;
}


/* navbar styling end */

.contact {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    height: 400px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    background-color: #fff;
    height: 250px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 40px 5px #cccccc;
    cursor: pointer;
}

.img {
    width: 100px;
    margin-left: 60px;
    margin-right: 60px;
    height: 75px;
    padding-top: 20px;
}

.paragraph {
    text-align: center;
    font-family: poppins;
}

.heading {
    color: red;
    text-align: center;
}

.form {
    text-align: center;
    justify-content: center;
}

.bottom-bar {
    background-color: #161616;
    text-align: center;
}

.input {
    width: 280px;
    text-align: center;
    background-color: #5c5c3d;
    color: #fff;
}


/* footer has been started from here  */

.footer-section {
    padding: 40px 20px;
    margin-top: 80px;
    background-color: #181717;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-nav-links {
    flex: 1;
    min-width: 220px;
    margin: 0 30px;
}

.footer-nav-links h3 {
    color: #ebebeb;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-nav-links ul {
    padding: 0;
    margin: 0;
    color: #dddddd;
}

.footer-nav-links ul li a {
    text-decoration: none;
    color: #dddddd;
    font-weight: 300;
}

.footer-nav-links ul li a:hover {
    color: #e60505;
}

.footer-follow-us-Container {
    margin-top: 25px;
}

.footer-nav-links ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 15px;
}

.footer-nav-links input {
    width: 90%;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #222;
    color: white;
}

.footer-nav-links button {
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    background-color: #bd0101;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

.footer-nav-links button:hover {
    background-color: #d30000;
    transform: scale(1.05);
}

.footer-copyright-section {
    padding: 20px 0px;
    text-align: center;
    background-color: #0e0d0d;
    color: #b8b8b8;
    font-size: 12px;
    font-weight: 400;
}


/* footer has been Ended here  */