@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
}

.top-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.top-navbar h4 {
  color: #161616;
  font-size: 18px;
}

.top-navbar h2 {
  color: #d30000;
  font-size: 30px;
}

.top-navbar .heading-fisrt {
  color: #161616;
}

.top-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 35px;
}

.top-nav-list li {
  list-style: none;
}

.top-nav-list li a {
  text-decoration: none;
  color: #d30000;
  font-size: 15px;
}

.top-nav-list li a:hover {
  text-decoration: underline;
}

.top-nav-icons img {
  width: 25px;
  margin-right: 10px;
}

.top-nav-search-bar {
  background-color: white;
  border-radius: 5px;
  padding: 8px;
  border: solid 1px #696969;
  margin-top: 8px;
  position: relative;
}

.top-nav-search-bar input {
  width: 250px;
  border: none;
  outline: none;
}

.top-nav-search-bar img {
  width: 17px;
  position: absolute;
  right: 5px;
  top: 12px;
  cursor: pointer;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
  background-color: #161616;
}

.nav-list li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 14px 15px;
  transition: background-color 0.3s ease;
}

.nav-list li a:hover {
  background-color: #313131;
}

/* navbar styling end */

/* hero section started form here */

.hero-section {
  background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 10)
    ),
    url("https://img.freepik.com/free-vector/technology-background-with-earth-circuit-diagram_1017-19385.jpg?t=st=1723365499~exp=1723369099~hmac=24460f6a5386b56a7e4237251c2d3513f2bfb56e31f4149c87107954964d06aa&w=740");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  max-width: 98%;
  margin: auto;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  position: relative;
}

.hero-content {
  position: absolute;
  bottom: 20px;
  left: 50px;
  color: white;
  max-width: 800px;
}

.hero-content a {
  color: #d30000;
}

.hero-content a:hover {
  color: rgb(238, 108, 108);
}

/* hero section end here */

/* homepage content card started */

.section-container {
  max-width: 1300px;
  margin: auto;
  padding: 10px;
  margin-top: 50px;
}

.homepage-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.homepage-Cards-container {
  flex: 3;
  max-width: 800px;
}

.homepage-heading-details {
  position: relative;
}

.homepage-heading-details h1 {
  text-transform: uppercase;
  color: #161616;
  border-bottom: 4px solid #d80202;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.more-link {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  color: white;
  background-color: #d80202;
  text-decoration: none;
}

/* Card styling */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 250px;
  gap: 15px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}

.card img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.homepage-Card {
  flex: 1;
  padding: 4px;
}

.homepage-Card h3 {
  font-size: 13px;
}

.homepage-Card p {
  font-size: 12px;
}

.homepage-Card a {
  font-size: 12px;
  color: #d80202;
  text-decoration: none;
}

/* Sidebar styling */
.homepage-Sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-section a {
  display: block;
  font-size: 14px;
  margin: 10px 0px;
  cursor: pointer;
  color: #313131;
}
.sidebar-section a:hover {
  color: red;
}

.sidebar-section button {
  padding: 8px 14px;
  background-color: #d80202;
  color: white;
  border: none;
  cursor: pointer;
}
.sidebar-section button:hover {
  background-color: #d80202e0;
}
.newsletter-section form {
  display: flex;
  flex-direction: column;
}

.newsletter-section input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.newsletter-section button {
  padding: 10px;
  background-color: #d80202;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter-section button:hover {
  background-color: #d80202e0;
}

/* homepage content card ended */
