@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
}

.top-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.top-navbar h4 {
  color: #161616;
  font-size: 18px;
}

.main-logo a {
  text-decoration: none;
}

.top-navbar h2 {
  color: #d30000;
  font-size: 30px;
}

.top-navbar .heading-fisrt {
  color: #161616;
}

.top-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 35px;
}

.top-nav-list li {
  list-style: none;
}

.top-nav-list li a {
  text-decoration: none;
  color: #d30000;
  font-size: 15px;
}

.top-nav-list li a:hover {
  text-decoration: underline;
}

.top-nav-icons img {
  width: 25px;
  margin-right: 10px;
}

.top-nav-search-bar {
  background-color: white;
  border-radius: 5px;
  padding: 8px;
  border: solid 1px #696969;
  margin-top: 8px;
  position: relative;
}

.top-nav-search-bar input {
  width: 250px;
  border: none;
  outline: none;
}

.top-nav-search-bar img {
  width: 17px;
  position: absolute;
  right: 5px;
  top: 12px;
  cursor: pointer;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
  background-color: #161616;
}

.nav-list li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 14px 15px;
  transition: background-color 0.3s ease;
}

.nav-list li a:hover {
  background-color: #313131;
}

.search-and-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-and-bar .menu-bar-icon {
  width: 22px;
  display: none;
}

/* navbar styling end */

/* hero section started form here */

.hero-section {
  background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 10)
    ),
    url("https://img.freepik.com/free-vector/technology-background-with-earth-circuit-diagram_1017-19385.jpg?t=st=1723365499~exp=1723369099~hmac=24460f6a5386b56a7e4237251c2d3513f2bfb56e31f4149c87107954964d06aa&w=740");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  max-width: 98%;
  margin: auto;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  position: relative;
}

.hero-content {
  position: absolute;
  bottom: 20px;
  left: 50px;
  color: white;
  max-width: 800px;
}
.hero-content h1 {
  font-size: 30px;
}
.hero-content p {
  font-size: 16px;
}
.hero-content a {
  color: #d30000;
}

.hero-content a:hover {
  color: rgb(238, 108, 108);
}

/* hero section end here */

/* homepage content card started */

.section-container {
  max-width: 1300px;
  margin: auto;
  padding: 10px;
  margin-top: 50px;
}

.homepage-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.homepage-Cards-container {
  flex: 3;
  max-width: 800px;
}

.homepage-heading-details {
  position: relative;
}

.homepage-heading-details h1 {
  text-transform: uppercase;
  color: #161616;
  border-bottom: 4px solid #d80202;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.hompage-second-card-container {
  margin-top: 30px;
}

.more-link {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  color: white;
  background-color: #d80202;
  text-decoration: none;
}

/* Card styling */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 250px;
  gap: 15px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}

.card img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.homepage-Card {
  flex: 1;
  padding: 4px;
}

.homepage-Card h3 {
  font-size: 13px;
}

.homepage-Card p {
  font-size: 12px;
}

.homepage-Card a {
  font-size: 12px;
  color: #d80202;
  text-decoration: none;
}

/* Sidebar styling */
.homepage-Sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-section a {
  display: block;
  font-size: 14px;
  margin: 10px 0px;
  cursor: pointer;
  color: #313131;
  text-decoration: none;
}

.sidebar-section a:hover {
  color: red;
}

.sidebar-section button {
  padding: 8px 14px;
  background-color: #d80202;
  color: white;
  border: none;
  cursor: pointer;
}
.sidebar-section button:hover {
  background-color: #d80202e0;
}
.newsletter-section form {
  display: flex;
  flex-direction: column;
}

.newsletter-section input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.newsletter-section button {
  padding: 10px;
  background-color: #d80202;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter-section button:hover {
  background-color: #d80202e0;
}

/* homepage content card ended */

/* footer has been started from here  */

.footer-section {
  padding: 40px 20px;
  margin-top: 80px;
  background-color: #181717;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-nav-links {
  flex: 1;
  min-width: 220px;
  margin: 0 30px;
}

.footer-nav-links h3 {
  color: #ebebeb;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-nav-links ul {
  padding: 0;
  margin: 0;
  color: #dddddd;
}

.footer-nav-links ul li a {
  text-decoration: none;
  color: #dddddd;
  font-weight: 300;
}

.footer-nav-links ul li a:hover {
  color: #e60505;
}

.footer-follow-us-Container {
  margin-top: 25px;
}

.footer-nav-links ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 15px;
}

.footer-nav-links input {
  width: 90%;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #222;
  color: white;
}

.footer-nav-links button {
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  background-color: #bd0101;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
}

.footer-nav-links button:hover {
  background-color: #d30000;
  transform: scale(1.05);
}

.footer-copyright-section {
  padding: 20px 0px;
  text-align: center;
  background-color: #0e0d0d;
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 400;
}

/* footer has been Ended here  */

/* Mobile Device */

@media screen and (max-width: 500px) {
  .top-navbar {
    flex-direction: column;
  }

  .top-navbar h4 {
    font-size: 16px;
  }

  .top-navbar h2 {
    font-size: 24px;
  }

  .top-nav-search-bar input {
    width: 330px;
  }
  .top-navbar {
    flex-direction: column;
  }

  .top-nav-icons img {
    display: none;
  }

  .top-nav-list {
    margin: 8px auto;
  }

  .top-nav-search-bar input {
    width: 280px;
  }

  .nav-list {
    display: none;
  }
  .search-and-bar {
    gap: 20px;
    margin-top: 14px;
  }
  .search-and-bar .menu-bar-icon {
    display: block;
    cursor: pointer;
  }

  .top-nav-search-bar {
    padding: 4px 10px;
    margin-top: 0px;
  }

  .top-nav-search-bar img {
    width: 8x;
    top: 8px;
  }

  .hero-content {
    left: 0px;
    padding: 20px;
  }

  .hero-content h1 {
    font-size: 25px;
  }

  .hero-content p,
  a {
    font-size: 14px;
  }

  .homepage-heading-details h1 {
    border-bottom: 2px solid #d80202;
    font-size: 16px;
    padding-bottom: 2px;
  }

  .more-link {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 12px;
  }

  .section-container {
    margin-top: 20px;
  }
  .card {
    width: 300px;
  }

  .card img {
    width: 300px;
  }

  /* Sidebar styling */

  .sidebar-section {
    padding: 0px 25px;
  }

  .sidebar-section h2 {
    font-size: 20px;
  }

  .sidebar-section a {
    font-size: 13px;
  }

  .sidebar-section button {
    padding: 5px 12px;
    font-size: 12px;
  }

  .sidebar-section button:hover {
    background-color: #d80202e0;
  }

  .newsletter-section {
    padding: 0px 25px;
  }

  .newsletter-section h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .footer-nav-links {
    margin-bottom: 20px;
  }

  .footer-nav-links a {
    font-size: 14px;
  }

  .footer-nav-links ul li {
    font-size: 14px;
  }
}
/* Tablet Device */

@media screen and (min-width: 500px) and (max-width: 820px) {
  .top-navbar {
    flex-direction: column;
  }

  .top-nav-icons img {
    display: none;
  }

  .top-nav-list {
    margin: 8px auto;
  }
  .top-nav-search-bar input {
    width: 400px;
  }

  .top-navbar h4 {
    font-size: 18px;
  }

  .top-navbar h2 {
    font-size: 28px;
  }
  .nav-list {
    gap: 2px;
    padding: 5px 0;
  }

  .nav-list li a {
    padding: 8px 5px;
    font-size: 14px;
  }
  .hero-content {
    left: 0px;
    padding: 25px;
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .hero-content p,
  a {
    font-size: 16px;
  }

  .homepage-heading-details h1 {
    border-bottom: 2px solid #d80202;
    font-size: 18px;
    padding-bottom: 2px;
  }

  .more-link {
    display: inline-block;
    position: absolute;
    top: 11px;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 13px;
  }

  /* cards */

  .cards {
    flex-wrap: wrap;
  }

  .homepage-Card h3 {
    font-size: 13px;
  }

  .homepage-Card p {
    font-size: 12px;
  }

  .homepage-Card a {
    font-size: 12px;
    color: #d80202;
    text-decoration: none;
  }

  /* Sidebar styling */

  .sidebar-section {
    padding: 0px 10px;
  }

  .sidebar-section h2 {
    font-size: 20px;
  }

  .sidebar-section a {
    font-size: 13px;
  }

  .sidebar-section button {
    padding: 5px 12px;
    font-size: 12px;
  }

  .sidebar-section button:hover {
    background-color: #d80202e0;
  }

  .newsletter-section h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .footer-nav-links {
    margin-bottom: 20px;
  }

  .footer-nav-links a {
    font-size: 14px;
  }

  .footer-nav-links ul li {
    font-size: 14px;
  }
}

/*news content  */
.news-con{
  border-bottom: 4px solid #d80202;
}
.text-center{
  text-align: center;
  font-size: 50px;
  padding: 40px;
}

.news_img{
  height: 300px;
  display: block;
  margin: 30px auto;
}
.news_mar{
  margin: 40px 200px;
}
.container0
{
 display:flex;
 flex-direction: column;
  margin:50px;
  padding:50px;
  width:1000px;
 border-radius:10px;
 margin-left:200px;
   margin-right:200px;
   font-size: 20px;
   margin: 10px auto;

}
.readmore-heading-details {
  position: relative;
}
.readmore-heading-details h1 {
  text-transform: uppercase;
  color: #161616;
  border-bottom: 3px solid #d80202;
  padding-top: 7px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.d-t
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 120px;
}
.back-btn{
  height: 50px;
  width: 50px;
  padding-top:10px;
}
iframe{
  padding-top: 10px;
  margin:0px auto;
}
/* Tablet Device */

@media screen and (min-width: 500px) and (max-width: 768px) {
  .top-navbar {
    flex-direction: column;
  }

  .top-nav-icons img {
    display: none;
  }

  .top-nav-list {
    margin: 8px auto;
  }
  .top-nav-search-bar input {
    width: 400px;
  }

  .top-navbar h4 {
    font-size: 18px;
  }

  .top-navbar h2 {
    font-size: 28px;
  }
  .nav-list {
    gap: 2px;
    padding: 5px 0;
  }

  .nav-list li a {
    padding: 8px 5px;
    font-size: 14px;
  }

  .about-content {
    width: 300px;
  }

  .about-content h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .about-content p {
    font-size: 14px;
  }

  .footer-nav-links {
    margin-bottom: 20px;
  }

  .footer-nav-links a {
    font-size: 14px;
  }

  .footer-nav-links ul li {
    font-size: 14px;
  }
}
/* sticky navbar css */
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}
/* sticky navbar css */